# Environment variables
.env.local
.env.*.local

# Next.js
.next/
out/
dist/

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Misc
.DS_Store
*.log

# Script outputs
dist-scripts/
.vercel
.env*.local
